In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('train.csv',header=0)
df.tail()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
8031,8031,59,retired,divorced,primary,no,-88,yes,no,unknown,5,jun,910,2,-1,0,unknown,yes
8032,8032,35,technician,divorced,secondary,no,5724,yes,no,unknown,30,may,691,10,-1,0,unknown,yes
8033,8033,32,blue-collar,married,secondary,no,759,yes,no,cellular,9,apr,317,5,-1,0,unknown,yes
8034,8034,50,management,married,tertiary,no,1612,no,no,cellular,15,jun,532,2,98,2,other,yes
8035,8035,33,management,single,tertiary,no,1150,yes,no,telephone,12,may,109,2,-1,0,unknown,no

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8036 entries, 0 to 8035
Data columns (total 18 columns):
Unnamed: 0    8036 non-null int64
age           8036 non-null int64
job           8036 non-null object
marital       8036 non-null object
education     8036 non-null object
default       8036 non-null object
balance       8036 non-null int64
housing       8036 non-null object
loan          8036 non-null object
contact       8036 non-null object
day           8036 non-null int64
month         8036 non-null object
duration      8036 non-null int64
campaign      8036 non-null int64
pdays         8036 non-null int64
previous      8036 non-null int64
poutcome      8036 non-null object
deposit       8036 non-null object
dtypes: int64(8), object(10)
memory usage: 1.1+ MB

In [59]:
cols = ['Unnamed: 0','month','default','loan','day']

In [51]:
df= df.drop(cols,axis=1)

In [54]:
df = df.dropna()

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8036 entries, 0 to 8035
Data columns (total 13 columns):
age          8036 non-null int64
job          8036 non-null object
marital      8036 non-null object
education    8036 non-null object
balance      8036 non-null int64
housing      8036 non-null object
contact      8036 non-null object
duration     8036 non-null int64
campaign     8036 non-null int64
pdays        8036 non-null int64
previous     8036 non-null int64
poutcome     8036 non-null object
deposit      8036 non-null object
dtypes: int64(6), object(7)
memory usage: 878.9+ KB

In [78]:
dummies = []
cols = ['age','job','education']
for col in cols:
 dummies.append(pd.get_dummies(df[col]))

In [79]:
titanic_dummies = pd.concat(dummies, axis=1)

In [80]:
df = pd.concat((df,titanic_dummies),axis=1)

In [82]:
df = df.drop(['age','job','education'],axis=1)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8036 entries, 0 to 8035
Columns: 102 entries, marital to unknown
dtypes: int64(5), object(5), uint8(92)
memory usage: 1.4+ MB